html {
    height: 100%;
  }
  
  #container {
    text-align: center;
    margin: 0;
  }
  
  #cart-icon{
    width:25px;
    display: inline-block;
    margin-left: 15px;
  }
  
  #cart-total{
    display: block;
    text-align: center;
    color:#fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
  }

#qr-code img {
    display:'';
 }