{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Cashier less!</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse sticky-top">
    <a style="color: red;font-size:25px;" class="navbar-brand" href="#">CashierLess</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">Scanner</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
      </ul>

    </div>
  </nav>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>



  <script>

    var images = ["{% static 'images/16.jpg' %}","{% static 'images/18.jpg' %}", "{% static 'images/19.jpg' %}"];
    var i = 0;
    function slide() {
      document.getElementById("images").src = images[i];
      if (i < (images.length - 1))
        i++;
      else
        i = 0;
    }
    setInterval(slide, 3000)

  </script>
  <div class="slid">
    <img src="{% static 'images/16.jpg' %}" alt="image1" height="500px" width="1000px" id="images" name="img1">
  </div>



  <!--      footer-->

  <footer class="footer">



    <div class="footer_left">
      <h1>Follow Us On</h1>

      <div id="social">
        <a href="https://www.instagram.com/mohit_1607/" class="instagram"></a>
        <a href="https://www.facebook.com/profile.php?id=100007205018667" / class="facebook"> </a>
      </div>
    </div>




    <div class="footer_middle">
      <div class="about">
        <h1>ABOUT US</h1>
        <p>welcome to our Cashier Less shopping website.</p>
        <p>THANKS PLEASE VISIT AGAIN!!!!!</p>
      </div>
    </div>











  </footer>



</body>

</html>